@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 100%;
}

body {
  /* background: linear-gradient(#201606, #000000); */
  background: linear-gradient(to right, #201606, #000000);
  color: #fff;
}
