@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 100%;
}

body {
  --accent-background: #201606;
  background: linear-gradient(to right, var(--accent-background), #000000);
  transition: background 0.5s ease-in-out;
  -webkit-transition: background 2s; /* For Safari */
  color: #fff;
}

.no-scroll {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.no-scroll::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
